In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [28]:
csv_2019_path = "2019_Raw_Data.csv"
csv_2020_path = "2020_Raw_Data.csv"

In [29]:
airline_2019_df = pd.read_csv(csv_2019_path, encoding="utf-8")
airline_2019_df.head()

,PASSENGERS,FREIGHT,DISTANCE,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER_NAME,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DEST,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,Unnamed: 16
0,0.0,0.0,1545.0,WL,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",10747,BRO,"Brownsville, TX",13230,MDT,2019,1,3,4,L,NaN
1,0.0,0.0,770.0,WL,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",10747,BRO,"Brownsville, TX",13244,MEM,2019,1,3,2,L,NaN
2,0.0,0.0,1067.0,WL,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",10747,BRO,"Brownsville, TX",13303,MIA,2019,1,3,3,L,NaN
3,0.0,0.0,1329.0,WL,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",10747,BRO,"Brownsville, TX",13487,MSP,2019,1,3,3,L,NaN
4,0.0,0.0,1018.0,WL,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",10747,BRO,"Brownsville, TX",14107,PHX,2019,1,3,3,L,NaN

In [37]:
airline_2020_df = pd.read_csv(csv_2019_path, encoding="utf-8")
airline_2020_df.head()

,PASSENGERS,FREIGHT,DISTANCE,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER_NAME,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DEST,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,Unnamed: 16
0,0.0,0.0,1545.0,WL,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",10747,BRO,"Brownsville, TX",13230,MDT,2019,1,3,4,L,NaN
1,0.0,0.0,770.0,WL,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",10747,BRO,"Brownsville, TX",13244,MEM,2019,1,3,2,L,NaN
2,0.0,0.0,1067.0,WL,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",10747,BRO,"Brownsville, TX",13303,MIA,2019,1,3,3,L,NaN
3,0.0,0.0,1329.0,WL,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",10747,BRO,"Brownsville, TX",13487,MSP,2019,1,3,3,L,NaN
4,0.0,0.0,1018.0,WL,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",10747,BRO,"Brownsville, TX",14107,PHX,2019,1,3,3,L,NaN

In [34]:
airline_2019_df = airline_2019_df.drop(['ORIGIN_AIRPORT_ID','UNIQUE_CARRIER', 'DEST_AIRPORT_ID', 'CLASS', 'Unnamed: 16'],axis=1)

In [35]:
airline_2019_df.head()

,PASSENGERS,FREIGHT,DISTANCE,UNIQUE_CARRIER_NAME,CARRIER_NAME,ORIGIN,ORIGIN_CITY_NAME,DEST,YEAR,QUARTER,MONTH,DISTANCE_GROUP
0,0.0,0.0,1545.0,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",BRO,"Brownsville, TX",MDT,2019,1,3,4
1,0.0,0.0,770.0,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",BRO,"Brownsville, TX",MEM,2019,1,3,2
2,0.0,0.0,1067.0,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",BRO,"Brownsville, TX",MIA,2019,1,3,3
3,0.0,0.0,1329.0,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",BRO,"Brownsville, TX",MSP,2019,1,3,3
4,0.0,0.0,1018.0,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",BRO,"Brownsville, TX",PHX,2019,1,3,3

In [38]:
airline_2020_df = airline_2020_df.drop(['ORIGIN_AIRPORT_ID','UNIQUE_CARRIER','DEST_AIRPORT_ID', 'CLASS', 'Unnamed: 16'],axis=1)

In [39]:
airline_2020_df.head()

,PASSENGERS,FREIGHT,DISTANCE,UNIQUE_CARRIER_NAME,CARRIER_NAME,ORIGIN,ORIGIN_CITY_NAME,DEST,YEAR,QUARTER,MONTH,DISTANCE_GROUP
0,0.0,0.0,1545.0,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",BRO,"Brownsville, TX",MDT,2019,1,3,4
1,0.0,0.0,770.0,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",BRO,"Brownsville, TX",MEM,2019,1,3,2
2,0.0,0.0,1067.0,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",BRO,"Brownsville, TX",MIA,2019,1,3,3
3,0.0,0.0,1329.0,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",BRO,"Brownsville, TX",MSP,2019,1,3,3
4,0.0,0.0,1018.0,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...","Caribbean Sun Airlines, Inc. d/b/a World Atlan...",BRO,"Brownsville, TX",PHX,2019,1,3,3

In [41]:
airline_2019_df.to_csv('2019AirlineDataJ.csv', index = False)

In [42]:
airline_2020_df.to_csv('2020AirlineDataJ.csv', index = False)